container {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  margin: 200px auto;
  position: relative;
  box-shadow: 3px 3px 15px gray;
}

.container-img {
  width: 100%;
  transition: .4s;
}

.info {
  position:absolute;
  bottom: 0;
  background-color: gray;
  text-align: center;
  padding:15px 5px;
  color: #fff;
  box-shadow: 0 -3px 13px #ffffff73, inset 0 -40px #fafafa75;
  border-radius: 20px;
  transition: .3s ease-in-out;
  bottom: -100%;
}

.info h3 {
  margin: 0;
  letter-spacing: 4px;
}

.info p {
  line-height: 1;
  margin:10px 0;
}

.info a botton {
  text-decoration: 0;
  color:#000;
  border:none;
  padding: 10px 12px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
}

.container:hover .info {
  bottom: 0;
}

.container:hover img {
  transform: scale(1.5);
}
